@model IEnumerable<Proyecto.Models.Tarea>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<!-- Botón para abrir el modal -->
<a type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Abrir Modal
</a>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Título del Modal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Contenido del modal...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Realizada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Realizada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TareaID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TareaID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TareaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

